body{
	font-family: 'Gloria Hallelujah';
	background-image: url(../img/background.jpg);
	background-size: cover;
	
}

#logo{
	 text-align: center
}

#lucha1{
	text-align: center;
	display: block;
}
#lucha2{
	text-align: center;
	display: block;
}

#boton button{
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
	background-color: blue;
	padding: 20px;
	border: 1px solid white;
	font-size: 1.5em;
	font-weight: bolder;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}
